.Home{
  ul{
    li{
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      .tag{
        width: 85px;
        .ant-tag{
          margin: 0 15px;
        }
      }
      i{
        width: 50px;
        margin-left: 15px;
      }
      div{
        flex-direction: column;
      }
    }
  }
}
